#!/bin/bash

alias ls="ls $color"
alias ll="ls -hl $color"
alias lah="ls -lah $color"

alias vi="vim"
alias rsync-boost="rsync -avlP --inplace --delete-after"
alias chmox='chmod +x'
alias ungz="gunzip -k"
alias sudo="sudo -S"

#archlinux
alias pacremove="sudo pacman -Rcns (sudo pacman -Qtdq) "
alias Syu="sudo pacman -Syyuu"

#deb
alias repo-update="sudo apt update -o=Acquire::AllowInsecureRepositories=true"